@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Scripts.Render("~/managementjs")
    @Styles.Render("~/managementcss")
</head>
<body>
    <div>
        sdfg
    </div>
</body>
</html>
