<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="noodle" type="Noodle.Configuration.NoodleConfigurationGroup, Noodle">
      <section name="core" type="Noodle.Configuration.NoodleCoreConfiguration, Noodle"/>
    </sectionGroup>
  </configSections>
  <noodle>
    <core>
      <connectionStrings>
        <add name="" connectionStringName="sdf"/>
        <add name="" connectionStringName="sdf"/>
      </connectionStrings>
    </core>
  </noodle>
</configuration>